/* Tổng thể trang */
.seat-selection-page {
  display: flex;
  flex-direction: column;

  background-color: #ccc;
  justify-content: center;
}

.header {
  position: relative;
  background-color: #ccc;
  padding: 15px;

  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.header h2 {
  color: white;
}

.back-button {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  padding: 0;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.back-button:hover {
  text-decoration: underline;
}

.main-content {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Phần chọn ghế */
.seat-selection {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  transition: transform 0.3s ease-in-out;
}

.seat-grid {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 15px;
  margin-bottom: 20px;
}

.seat {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s;
  font-family: "Arial", sans-serif;
}

.seat:hover {
  transform: scale(1.05);
}

.seat.available {
  background-color: #e0f7fa;
}

.seat.selected {
  background-color: #ffccbc;
}

.seat.sold {
  background-color: #b0bec5;
  cursor: not-allowed;
}

.seat-legend {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
}

/* Thông tin khách hàng và giá tiền */
.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}

.trip-info,
.customer-info,
.total-price {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.customer-info input {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.customer-info input:focus {
  border-color: #ff7f50;
}

.total-price p {
  margin: 10px 0;
}

.footer {
  margin-top: 20px;
  text-align: center;
  background-color: transparent;
}

.confirm-button {
  padding: 15px 30px;
  background-color: #ff7f50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #ff6347;
}

.seat-levels {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.seat-level {
  margin-left: 20px;
}

.seat-row {
  display: flex;
  justify-content: space-around;
}

.seat-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat {
  margin: 5px;
}

.middle-column {
  margin-top: 60px; /* Điều chỉnh khoảng cách cho cột giữa */
}
